

#primer-contenedor{
    margin-bottom: 15px;
    margin-top: 40px;
  
}



div{
    display:inline-block;
    width: 30%;
    height: 50%;
    background-color: aqua;
    margin: 10px 5px 9px; /* un solo valor es el mismo margen
    dos valores el primero es inferior/superior y el segundo lados
    y tres valores aqui tenemos superior, lados, inferior 
    cuatro valores superior, derecho, inferior, izquierdo  */
    padding-top: 10px;
    border-bottom: solid 3px black;
    border-top: solid 5px red;
    border-left: solid 7px greenyellow;
    border-right: solid 7px brown;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: green;
    


    /*margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px; */
    
}
